.sidebar {
    display: block;
    padding-left: 20px;
    margin-left: 30px;
    height: 100%;
    /* width: 100%; */
    color: white;
    font-size: 25px;
    z-index: 2;
    
}

@media only screen and (max-width: 768px) {
    .sidebar {
        margin-left: 10vw;
        margin-top: 2vh;
        padding: 0;
        height: 80%;
    }
}

.chainParent {
    position: relative;
}

.chains {
    position: absolute;
}

.chainLink {
    position: absolute;
    margin-top: 10px;
    left: 31px;
    height: 120px;
    width: 2.5px;
    /* background-color: rgb(114, 114, 114); */
}

.chainContainer {
    height: 53px;
    width: 20px;
    margin: 0;
}

.chain{
    position: relative;
}

.outerChain {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width:  20px;
    border-radius: 50px;
    /* background-color: rgb(153, 153, 153); */
}

.innerChain {
    position: relative;
    /* top: 13.5px;
    left: 13.5px; */
    height: 13px;
    width:  13px;
    border-radius: 50px;
    /* background-color: #181818; */
}

.chainIndicator {
    position: absolute;
    top: 13px;
    left: 30px;
    height: 8px;
    width:  8px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255); 
}

.sidebarSelection {
    margin-left: 60px;
}

p {
    cursor: pointer;
}

.active {
    color: rgb(171, 255, 251);
}

@media only screen and (max-width: 768px) {

    .sidebar {
        height: 15vh;
    }

    .sidebarSelection {
        margin: 0px;
        padding: 0px;
        font-size: 2.2vh;
    } 

    #sidebarSelectionsContainer {
        padding: 0;
        margin-top: 1vh;
    }

    .chainContainer {
        height: 3.3vh;
    }

    .chainIndicator {
        top: 10px;
        left: 75px;
    }    
}