.sidebar {
    padding-left: 20px;
    height: 500px;
    width: 300px;
    color: white;
    font-size: 25px;
}

.chainParent {
    position: relative;
}

.chains {
    position: absolute;
}

.chainLink {
    position: absolute;
    margin-top: 10px;
    left: 31px;
    height: 120px;
    width: 2.5px;
    background-color: rgb(114, 114, 114);
}

.chainContainer {
    height: 53px;
    width: 20px;
}

.chain{
    position: relative;
}

.outerChain {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width:  20px;
    border-radius: 50px;
    background-color: rgb(153, 153, 153);
}

.innerChain {
    position: absolute;
    top: 13.5px;
    left: 13.5px;
    height: 13px;
    width:  13px;
    border-radius: 50px;
    background-color: #181818;
}

.chainIndicator {
    position: absolute;
    top: 16.49px;
    left: 16.49px;
    height: 8px;
    width:  8px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255); 
}

p {
    cursor: pointer;
}

.active {
    color: rgb(171, 255, 251);
}