
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Rajdhani&display=swap');
body {
  background-color: #181818;
  /* overflow: hidden;
  height: 100%;
  width: 100%; */
  /* margin-left: 40px; */
}

html *
{
  font-family: 'Rajdhani', monospace !important;
}

.mainContainer {  
  /* background-color: #181818; */
  margin: 40px;
  height: 89vh;
  border-color: rgb(255, 255, 255);;
  border-width: 1px;
  border-style: solid;
}

.outsideDecor {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: aliceblue; */
  height: 100%;
  width: 100%;
  margin: 0 !important;
  border-style: solid;
  border-color: #181818;
  border-width: 40px;
  z-index: -2;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mainContainer {
    margin: 20px;
    height: 100vh;
  }

  .outsideDecor {
    height: 100% !important;
    width: 100% !important;
  }
}




