
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body {
  background-color: #181818;
  margin-left: 40px;
}

html *
{
  font-family: 'Space Mono', monospace !important;
}

